<!DOCTYPE html>
<html lang="en" data-theme="cyberpank">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <style>
        #section1 {
        width: 100%;
        height: 40%;
        background-color: gray;
        margin: 30px;
      }
      #section11 {
        width: 47%;
        float: left;
      }
      #section12 {
        width: 50%;
        float: right;
      }
      #section2 {
        display: block;
        margin-top: 30%;
      }
      .com-rep {
        border: 1px solid greenyellow;
        margin: 10px;
        padding: 10px;
      }
      .rep-body {
        text-align: end;
      }
      .rep-body textarea {
        display: inline-block;
        text-align: end;
      }
      .rep-body button {
        margin-left: 73%;
        display: block;
        width: 27%;
        float: end;
      }
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% include ../partials/navbar %> 


    <div id="section1">

      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="<%= post.image %>">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
              <h2 class="text-sm title-font text-gray-500 tracking-widest"><%= post.title%></h2>
              <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 "><%= post.author.name %></h1>
              
              <div class="flex mb-4">
                <%= post.created %>
              </div>
              <div class="flex mt-3 items-center pb-5 border-b-2 border-gray-100 mb-3">
              </div>
              <p class="leading-relaxed"><%= post.content %></p>
              <div class="flex mt-3 items-center pb-5 border-b-2 border-gray-100 mb-3">
              </div>
              <p>Total like &nbsp; &nbsp;&nbsp;&nbsp; <%= post.like.length %> </p>
              <div class="flex mt-3 items-center pb-5 border-b-2 border-gray-100 mb-3">
              </div>

              <div class="m-3" >
                <a class="btn btn-primary  " href="/users/postupdate/<%= post._id%>"><button>Update</button></a>
                <a class="btn btn-error" href="/users/postdelete/<%= post._id%>"><button>Delete</button></a>
              </div>
              <div class="flex mt-3 items-center pb-5 border-b-2 border-gray-100 mb-3">
              </div>
              <!-- <% if(locals.user){%>
                <div>
                    <textarea class="textarea textarea-primary" placeholder="Comment" rows="4" clos="88" id="comment" ></textarea>
                    <div class="text-start">
                        <button id="btncomment" class="btn  btn-primary btn-sm" onclick="givecomment('<%= post._id%>', '<%= post.author._id%>') ">comment</button>
                    </div>
                    
                </div>
                <%}else{%>
              <div class="flex">
                <span class="title-font font-medium text-xl text-gray-900">Please login or register first idiot mf</span>
                <a href="/login" class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Login</a>
                <%}%>
                 -->
              </div>
            </div>
          </div>
        </div>
        </section>

        <% for ( var i = 0; i < comments.length; i++){%>  
          <div class="border-b-2 border-indigo-600 m-1 ">
                <div class="card w-3/5 rounded-lg mr-auto shadow-xl m-4 bg-yellow-200 ">
                    <div class="card-body">
                        <h2 class="card-title"><%=comments[i].commenter.name %></h2>
                        <h3><%= comments[i].created %></h3>
                        <p><%=comments[i].comment %></p>
                    </div>
                </div>
                <% if (comments[i].reply){%>
                <div class="card w-3/5 ml-auto rounded-lg bg-white shadow-xl m-1">
                    <div class="card-body"> 
                        <h2 class=" text-right font-bold text-xl"><%= post.author.name %></h2>
                        <h3 class="font-thin text-right"><%= comments[i].updated %></h3>
                        <p class="font-light text-right"><%=comments[i].reply%></p>
                    </div>
                    
                    <div class="flex items-center pb-5 border-b-2 border-gray-100 ">
                    </div>
                 </div>

                 <%}else{%> 
                      <div class="card w-3/5 ml-auto rounded-lg bg-white shadow-xl m-1">
                        <div class="card-body"> 
                        <input type="hidden" value="<%= comments[i]._id %>">
                        <textarea class="textarea textarea-warning " cols="45" rows="5"  placeholder="reply"></textarea>
                        
                        <button  class="btnRep btn btn-secondry ml-auto mx-auto btn-sm btn-block">Reply</button>
                      </div>
                      </div>
                      
                  <%}%> 
                  <div class="flex items-center pb-5 border-b-2 border-gray-100 ">
                  </div>  
          </div>
          <%}%> 

        <!-- <div id="section11">
          <img src="<%= post.image %>" width="450px" height="300px" alt="" />
        </div>
        <div id="section12">
          <h1><%= post.title %></h1>
          <h4><%= post.author.name %></h4>
          <h5><%= post.created %></h5>
          <p><%= post.content %></p>
          <hr />
          <a href="/users/postupdate/<%= post._id%>"><button>Update</button></a>
          <a href="/users/postdelete/<%= post._id%>"><button>Delete</button></a>
        </div>
      </div>
      <div id="section2">
        <% for(var i = 0; i < comments.length; i++){%>
        <div class="com-rep">
          <div class="com-body">
            <h3><%= comments[i].commenter.name %></h3>
            <h5><%= comments[i].created %></h5>
            <p><%= comments[i].comment %></p>
          </div>
          <hr />
          <% if(comments[i].reply){%>
          <div class="rep-body">
            <h3><%= post.author.name %> (Author)</h3>
            <h5><%= comments[i].updated %></h5>
            <p><%= comments[i].reply %></p>
          </div>
          <%}else{%>
            <div class="card w-3/5 ml-auto rounded-lg bg-white shadow-xl m-1">
              <div class="rep-body">
                <input type="hidden" value="<%= comments[i]._id %>">
                <textarea class="textarea textarea-warning" placeholder="Reply"></textarea>
                <button class="btnRep btn btn-primary btn-block">Reply</button>
              </div>
            </div>

          <%}%>
        </div>
        <%}%>
      </div>   -->
      <!-- this is step 28 -->

</body>

<script src="/javascripts/jquery/jquery-3.6.0.min.js"></script>

<script>
    $(".btnRep").click(function(){
        var data = {
            cid: $(this).parents()[0].children[0].value,
            reply: $(this).parents()[0].children[1].value,
        };
        $.ajax({
            url: "/users/givereply",
            data: data,
            type: "POST",
            
        }).done(function (result){
            if(result.status == "error"){
                alert("something was wrong");
            }else {
                location.reload();
            }
        });
    });
</script>
</html>